* {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
      background-image: url(https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
  }
  
  .container {
    background: #0000001f;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, .3);
}
  input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #fdb7b6;
    color: #000000;
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #acronymOutput {
    margin-top: 15px;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
  }
  